extends layout

block content

	article.mt-2.mb-3
		h1=title
			//-small.text-muted #{alternativeTitle == 'undefined Nan, Nan' ? '': ' or ' + alternativeTitle}
		i.date #{date}
			//-small #{lastModifiedDate == 'undefined NaN, NaN' ? '': ', modified on ' + lastModifiedDate}

		// we use the !{} notation to render the html
		div !{bodyOne}

		div
			h3 Commercial stuff here

		div !{bodyTwo}

			h3 Patreon stuff here

		div !{bodyThree}
		div !{bodyFour}
		div !{bodyFive}


	include newsletter-signup